/*KAA start*/
a{text-decoration:none;}
.menu__items, .menu-extra__items {font-size:16px; font-weight:nomal;}
.menu-extra__items {font-size:18px;}
.sitemap ul, .sitemap {margin:20px 0;}
.sitemap a, .news-full a{color:#000;text-decoration:none; border-bottom: 1px solid rgba(0,0,0,0.2);}
.sitemap a:hover, .news-full a:hover {color:#0540f2; border-color:rgb(5, 64, 242, 0.1)}
.grecaptcha-badge {display:none !important;}
.rules {font-size:13px; line-height:21px; color:#b6b6b6;text-align: center;display: block;}
.popup {border-radius:4px;background: white;padding: 30px 40px;text-align: left;max-width: 420px;margin: 40px auto;position: relative;-webkit-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);-moz-box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.1);}
.mfp-close-btn-in .mfp-close{background-color: #f0f0f0;border-radius:0 4px 0 0}
.footer__button-support {background:#DDE6FA; border-color:#DDE6FA}
.search__result{border-bottom:1px solid rgb(240 240 240 / 100%); padding-bottom:60px;}
.search__result:not(:last-child) {margin-bottom:60px;}
.dialog-search__dialog .field--search .field__field input {border:none;}
.dialog-search__backdrop {background: rgba(0,0,0,.2);}
.article__main blockquote p{color:#000}
.article__main blockquote {border-left:3px solid #DDE6FA; padding-left:30px;color:#000}
.news-card__image img{    -webkit-border-radius: 12px;border-radius: 12px;}
.article__main table {border-collapse:collapse;width:100% !important}
.article__main table td {padding:10px; border:1px solid #eee}
.article__main table tr:hover{background:#f0f0f0}
.article__intro p {text-align:left !important}
.article__main {max-width:930px;}
.footer__bottom {padding:10px 0;}
.footer__partner {opacity:0.5}
.footer__partner:hover {opacity:1}
blockquote {background-color: #eaf0fd;margin:10px 0 15px 0; padding:15px 20px; border-radius:6px;color: #0031c5;}
.doc__info {text-transform: uppercase;}
blockquote p:last-child {margin:0;}

.news-card img{filter: gray;-webkit-filter: grayscale(1);filter: grayscale(1);-moz-transition: all 1s ease-out;-o-transition: all 1s ease-out;-webkit-transition: all 1s ease-out;}
.news-card:hover img {-webkit-filter: none;filter: none;-webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1);}

.ambassadors__item img {filter: gray;-webkit-filter: grayscale(1);filter: grayscale(1);-moz-transition: all 1s ease-out;-o-transition: all 1s ease-out;-webkit-transition: all 1s ease-out;}
.ambassadors__item:hover img {-webkit-filter: none;filter: none;}

.my-mfp-zoom-in .popup {opacity: 0;-webkit-transition: all 0.2s ease-in-out; -moz-transition: all 0.2s ease-in-out; -o-transition: all 0.2s ease-in-out; transition: all 0.2s ease-in-out; -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); -o-transform: scale(0.8); transform: scale(0.8); }
.my-mfp-zoom-in.mfp-ready .popup {opacity: 1;-webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
.my-mfp-zoom-in.mfp-removing .popup {-webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); -o-transform: scale(0.8); transform: scale(0.8); opacity: 0;}
.my-mfp-zoom-in.mfp-bg {opacity: 0;-webkit-transition: opacity 0.3s ease-out; -moz-transition: opacity 0.3s ease-out; -o-transition: opacity 0.3s ease-out; transition: opacity 0.3s ease-out;}
.my-mfp-zoom-in.mfp-ready.mfp-bg {opacity: 0.2;}
.my-mfp-zoom-in.mfp-removing.mfp-bg {opacity: 0;}

.alert {position: relative;padding: 0.75rem 1.25rem;margin-bottom: 1rem;border: 1px solid transparent;}
.alert-primary {color: #084298;background-color: #cfe2ff;border-color: #b6d4fe;}
.alert-secondary {color: #41464b;background-color: rgb(240 240 240 / 20%);border-color: rgb(240 240 240 / 100%);}
.alert-success {color: #247c53;background-color: #e9fff5;border-color: #b8e0ce;}
.alert-danger {color: #ae4c54;background-color: #ffeaec;border-color: #f5c2c7;}
.alert-warning {color: #664d03;background-color: #fff3cd;border-color: #ffecb5;}
.alert-info {color: #055160;background-color: #cff4fc;border-color: #b6effb;}

#table-data a {text-decoration:none;}
#table-data tbody tr {padding:10px 0; border-bottom:1px solid #f3f7ff; border-radius:4px;}
#table-data tbody .table-experts__col{padding:10px;}
#table-data tbody .table-experts__col .position{font-size:16px; margin-top:5px; display:inline-block; color:#999}
#table-data tbody tr:hover {background:#f3f7ff}

.header__menu-sub {display:none;}
.ambassadors__item a {text-decoration:none;}
.competency-item__icon {margin-bottom:10px;}
.date_wrapper {display:flex;    align-items: flex-start;}
.date_wrapper p {margin-bottom:0 !important;line-height:26px;}
.date_wrapper img {margin-right:10px;}
.video_wrapper{display:flex;flex-wrap: wrap;justify-content: space-around;}
.competency-item__title .date_wrapper {margin-top:10px;font-weight:normal; font-size:18px;}
.competency-item__title .date_wrapper img{width:24px; height:24px;filter: gray;-webkit-filter: grayscale(1);filter: grayscale(1);}
.competency-item__title:hover .date_wrapper img{-webkit-filter: grayscale(0);filter: none;}
.date_wrapper img{filter: gray;-webkit-filter: grayscale(1);filter: grayscale(1);}
.date_wrapper_dp {margin:10px 0;}
.date_wrapper_dp img {width:28px;height:28px;-webkit-filter: grayscale(0);filter: none;}
.header__logo img{width:130px;}

@media screen and (max-width:641px)  {
    .breadcrumbs {font-size: .8125em;white-space: nowrap;overflow-x: scroll;-webkit-overflow-scrolling: touch;overflow-y: hidden;width:100%;display: flex;}
    .breadcrumbs li, .breadcrumbs li a, .breadcrumbs li span{display: inline-block;}
    .header__menu-sub {display:block;}
    .header__menu-sub .page__menu-extra {display:block;}
    .header__menu-sub .menu-extra__items {display:block;}
    .header__menu-sub .menu-extra__item {paddin-left:0; margin-left: 0;}
    .h1, .title, h1 {font-size: 3rem;margin-bottom:20px;}
    .article__main-news table{overflow-x:scroll;display:flex;}
}

.container, .header__container {max-width:1520px;}
.field--bigger .select__button, .field--bigger .field__field input, .field--bigger .field__field select, .field--bigger .field__field textarea, .field__field input, .field__field select {height:48px;font-size: 1rem;}
.select__item{font-size:1rem;}
.mfp-zoom-in.mfp-ready.mfp-bg {opacity:0.4}

/*KAA end*/