/* <block123> */
.tpl-container-123 .tpl-container-123-list {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
justify-content: center;
}
.tpl-container-123 .tpl-container-123-list > * {
flex-grow: 1;
}
/* </block123> */
/* <block125> */
.tpl-container-125 .tpl-container-125-list {
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
justify-content: center;
}
.tpl-container-125 .tpl-container-125-list > * {
flex-grow: 1;
}
/* </block125> */
